<!Doctype>
<html lang="en">

<head>
<% include  partials/template/head.ejs %>
</head>
<body>
<% include partials/template/header.ejs %>
<h1>Welcome to the <%= title %> Page</h1>
<% include  partials/template/footer.ejs %>
</body>
</html>