<!Doctype>
<html lang="en">

<head>
<% include  partials/template/head.ejs %>
</head>
<body class="<%=page %>">
<% include partials/template/header.ejs %>
<% include partials/content/contactus.ejs %>
<% include  partials/template/footer.ejs %>
</body>
</html>