<!Doctype>
<html lang="en">

<head>
<% include  partials/template/head.ejs %>
</head>
<body class="<%= page %>">
<% include partials/template/header.ejs %>
<% include partials/content/crewlist.ejs %>
	<section class="layout">
		<div class="primary">
		<% include partials/content/whoarewe.ejs %>
		<% include partials/content/getsailing.ejs %>
		<% include partials/content/whoshouldsail.ejs %>		
		</div><!-- primary -->
		<aside class="secondary">
			<% include partials/content/nextsail.ejs %>
			<% include partials/content/photolist.ejs %>
		</aside><!-- secondary -->
	</section>
<% include  partials/template/footer.ejs %>
<% include partials/template/jsdefaults.ejs %>
</body>
</html>