<!Doctype>
<html lang="en">

<head>
<% include  partials/template/head.ejs %>
</head>
<body class="<%= page %>">
<% include partials/template/header.ejs %>
	<section class="layout">
		<div class="primary">
				<% include partials/content/noComment.ejs %>
		</div><!-- primary -->
		<aside class="secondary">

		</aside><!-- secondary -->
	</section>
<% include  partials/template/footer.ejs %>
</body>
</html>