<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href="/">Chesapeake 2013</a>
			</div><!-- branding -->
		</section> <!-- layout -->
	</div><!-- hero -->

	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="/crew"><i class="fa fa-user"></i>The Crew</a></li>
				<li><a href="/contact"><i class="fa fa-user"></i>Contact Us</a></li>
			</ul><!-- nav -->
		</section><!-- layout -->
	</div><!-- navigation -->
</header>