<!--This will be the page that contains the contact content. It should 
	include a contact form. with firstname, lastname, email 
	and it would be great if I could figure out how to save that data in a
	text file in the main folder -->
<section class="layout">
	<article id="contactus">
		<h1>If you'd like to <%= title %></h1>
		<form action="contactForm" method="POST" >
			<div id="firstname">
				<label for="firstname">Firstname:</label>
				<input type="text" name="firstname" >
			</div>
			<div id="lastname">
			<label for="lastname">Lastname:</label>
			<input type="text" name="lastname" >
			</div>
			<div id="email">
			<label for="email">Email:</label>
			<input type="text" name="email" class="email">
			</div>
			<div id="comment">
				<h3>Add a Comment</h3>
				<textarea rows="15" cols="50" name="comments"></textarea>
			</div>
			<div id="submit">
			<button type="submit" name="submitBtn">Submit</button>
			</div>
		</form>
	</article>

</section>	
