<article id="getbusy">
  <h1>Get Sailing!</h1>
  <p>If you want to keep learn more about sailing join the crew at , <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>, <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're on FaceBook, you can also <a href="http://www.facebook.com/rouxmeet">join our FaceBook sailing group</a>.</p>
</article><!-- article -->


