<article class="nextsail">
	<h1>Next Trip</h1>
	
	<p><img src="<%= appdata.details.where.img %>">
	Start Date: <%= appdata.details.startDate %>
	End Date: <%= appdata.details.endDate %>
	Location: <%= appdata.details.where.name %>
	</p>
	Follow the Crew!
	<% include socialmedia.ejs %>
</article>