<article class="nextsail">
	<h1>Next Trip</h1>
	<p>Start Date: <%= appdata.details.startDate %></p>
	<p>End Date: <%= appdata.details.endDate %> </p>
	<p>Location: <%= appdata.details.where.name %></p>
</article>