<article id="whoshouldsail">
<h1>Who Should Come?</h1>
<ul>
<li>Anyone interested in navigation</li>
<li>Individuals who likes weather and maps</li>
<li>Those who like working on a team.</li>
<li>People interested in marine life</li>
</ul>
</article>